<!DOCTYPE html>

<html layout:decorate="~{layout}">

<div align="center" layout:fragment="content">

    <div style="width: 1000px; border-style: solid; border-width: 2px; ">
        <div class="row" style="height: 100px;">

            <h3 class="col">[ 게시판 ]</h3>

        </div>
        <div class="row">
            <img src="/image/MainPhoto.png">
        </div>

        <div class="row">
            <div id="title" class="form-control" style="text-align: left; height: 50px;"></div>
        </div>

        <div style="background: #efe9e9" class="row">
            <div id="name" class="col-2">장은수</div>
            <div class="col"></div>
            <div id="etc" class="col">추천 1400  |  조회수 21321  |  작성일 2020.11.23 11:30:22</div>
        </div>
        <div id="content" class="form-control" style="min-height: 400px; padding: 30px; text-align: left; border-style: solid; border-width: 1px;">

        </div>
            <button id="likes" th:onclick="|like(${session.userNo})|" class="btn btn-primary" style="width: 70px; height: 70px;" th:if = "${ session.userNo != null }"> 추천 </button>
            <button id="likes" th:onclick="alert('먼저 로그인 해주세요.')" class="btn btn-primary" style="width: 70px; height: 70px;" th:if = "${ session.userNo == null }"> 추천 </button>
        <div id="coment">


        </div>

    </div>

    <script src="/js/GetBoardInfo.js"></script>
    <script>
        Search();

        function like(no)
        {
            var userNo = no;
            var boardNo = getNo();

             // '좋아요' 송신
            $.ajax({
            url : "/Board/Like",
            data:{ "writerNo" : userNo, "boardNo" :  boardNo },
            method : "GET",
            success : 
            function (json)
            {

                if(json.flag == "success")
                {
                    $("#likes").text("추천 " + json.likes);
                }
                else alert(json.flag);

            },
            error :
            function(e)
            {
                alert(e.responseText);
            }
            });

        }


    </script>
</div>
</html>