<!DOCTYPE html>
<html layout:decorate="~{layout}">
    <div layout:fragment="content">

        여기서부터 내용 시작이다.

        대충.. 구성은 되었으니, 순서를 정하자.<br><br>

        1. 회원가입 폼 만들기<br>
        2. 로그인 폼 만들기<br>
        3. 게시판 폼 만들기<br>
        4. 글 작성 폼 만들기<br>
        5. 글 조회 폼 만들기<br>
        6. 글 수정 폼 만들기<br>
        7. 글 삭제 기능 만들기.<br><br>

        개쉽네ㅋㅋㅋ
        <br><br>
        ... 누가 쉽댔냐..<br><br>
        이제 남은거.<br>
        1. 게시판 td 뿌려주기<br>
        2. 게시판 페이징 해주기<br>
        3. 게시판에서 글로 넘어가기<br>
        4. 댓글 달기 기능 넣기<br>
        5. 댓글 보여주기<br>
        6. 글 수정<br>
        7. 글 삭제<br><br>
        ㅋ.ㅋㅋ.ㅋㅋㅋㅋ.ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ<br>
        ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

        <div style="background-color:yellow; min-height: 50px">
            어 뭐야<br><br><br><br><br><br><br><br><br><br><br><br>
            최소 크기에는 min-height를 써보자.
        </div>

    </div>
</html>